body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('login.jpeg'); /* Replace 'background-image.jpg' with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.5); /* Translucent white background for the login form */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow for depth */
}

.login-form {
  text-align: center;
}

.login-form h2 {
  color: #333;
}

.login-form label {
  display: block;
  margin: 10px 0;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

.login-form button {
  background-color: #377839;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #45a049;
}
